.button {
	width: 155px;
	height: 45px;
	border-radius: 25px;

	border: none;

	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;

	cursor: pointer;

	&_white {
		background: #ffffff;
	}
}