.button {
	cursor: pointer;

	width: 220px;
	height: 70px;
	background-color: $color_green;
	border: none;
	border-radius: 8px;

	color: #ffffff;
	font-size: 25px;

	&_small {
		width: 115px;
		height: 45px;
		font-size: 18px;
	}
}