@media (max-width: $laptop-width_l) {
	.products {
		&__grid {
			width: 100%;
		}
	}

	.footer {
		&__info {
			&-item {
				&_5 {
					grid-column-start: 2; 
					grid-column-end: 5;
				}
				&_6 {
					grid-column-start: 1; 
					grid-column-end: 5; 

				}
			}
		}
		&__social {
			margin-top: 5px;
		}
	}
}
@media (max-width: $laptop-width_m) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
	.header {
		&__button {
			right: 30px;
		}
	}
	.tips {
		&__grid {
			&-item {
				height: 263px;
			}
			&-img {
				width: 180px;
			}
			&-text {
				width: calc(100% - 180px);
				padding: 20px;
				h3 {
					margin: 0;
				}
			}
		}
	}
	.reviews {
		&__text {
			width: 760px;
		}
	}
	.footer {
		&__map {
			width: 455px;
		}
	}
}

@media (max-width: $laptop-width_s){
	.header {
		height: 710px;
		&__nav-links {
			margin-left: 130px;
		}
	}
	.products {
		&__grid {
			grid-template-rows: 210px 270px;
			
		}

		a .link-text_yellow {
			font-size: 36px;
			padding-left: 15px;
		}
	}
	.quality-food {
		&__item {
			&_1 {
				width: 593px;
			}
			&_2 {
				left: 304px;
			}
		}
	}
	.services {
		margin-top: 100px;
		&__subtitle {
			margin: 0 auto 55px auto;
		}
		&__item {
			font-size: 16px;
		}
	}
	.discover {
		height: 650px;
		padding-top: 107px;
	}
	.tips {
		height: 485px;
	}
	.decor {
		height: 580px;
	}
	.progress {
		height: 450px;
		margin-top: 70px;
		&__item {
			padding-left: 85px;
			.bold {
				font-size: 36px;
			}
		}
	}
	.products-mid {
		&__grid {
			grid-template-rows: 280px 280px;
		}
	}

	.reviews {
		&__title {
			margin-top: 80px;
		}
		&__text {
			width: 760px;
		}
		&__slider {
			height: 600px;
			&-item {
				height: 600px;
			}
		}
	}
	.blog-posts {
		padding-top: 0;
		margin-top: -50px;

		&__item {
			height: 350px;
		}
	}
	.partners {
		padding-top: 0;
		margin-top: -65px;

		&__list {
			padding: 0;
			flex-flow: row wrap;
			justify-content: center;
		}

		&__item {
			margin: 0 15px;

			align-self: center;
		}
	}
	.footer {
		&__map {
			width: 415px;
		}
		&__info {
			display: flex;
			flex-flow: row wrap;
			min-width: 560px;
			&-item {
				&_1 {
					flex-basis: 100%;
					margin-bottom: 30px;
				}
				&_2, &_3 {
					margin-left: 30px;
					flex-basis: 105px;
				}
				&_4, &_5, &_6 {
					flex-basis: 100%;
				}
				&_6 {
					margin: 40px 0;
				}
			}
		}
	}
}
@media(max-width: $tablet-width) {
	.subtitle {
		width: 100%;
	}
	.mobile_visible {
		display: block;
		position: absolute;
		top: 0;
		left: 30px;
	}
	.header {
		height: 636px;
		position: relative;
		&__hamburger {
			position: fixed;
			top: 10px;
			right: 10px;
			z-index: 999;
			width: 60px;
			height: 40px;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color: $color_yellow;

				box-shadow: 0 12px 0 $color_yellow,
                0 25px 0 $color_yellow,
                0 38px 0 $color_yellow;
			}

			&:hover {
				&::before {
					
					box-shadow: 0 11px 0 $color_yellow,
						 0 23px 0 $color_yellow,
						 0 35px 0 $color_yellow;
				}
			}
		
		}
		&__nav {
			display: none;

			height: 100%;
			width: 300px;
			background: none;
			background-color: rgba($color: #000000, $alpha: .7);
			border: none;
			

			&-close {
				position: absolute;
				top: 10px;
				right: -50px;
				width: 40px;
				height: 40px;
				cursor: pointer;
			
				&::before {
					content: "";
					display: block;
					height: 2px;
					width: 50px;
					background-color: #fff;
					position: absolute;
					top:18px;
					left: -5px;
					transform: rotate(45deg);
				}
				&::after {
					content: "";
					display: block;
					height: 2px;
					width: 50px;
					background-color: #fff;
					position: absolute;
					top:18px;
					left: -5px;
					transform: rotate(-45deg);
				}
			}

			&-link {
				a {
					padding-top: 32px;
					text-transform: uppercase;
				}
				a.active, a:hover {
					&::after {
						height: 1px;
						width: 90px;
						bottom: -12px;
					}
				}
			}
		}
		&__nav-links {
			flex-flow: column nowrap;
		}
		&__button {
			right: auto;
			top: 450px;
			left: 30px;
		}
	}
	.products {
		&__grid {
			grid-template-columns: 1fr;
			grid-template-rows: 130px 130px 130px 130px 130px;

			&-item {
				grid-column-start: 1;
				grid-column-end: 2;

				&_1 {
					grid-row-start: 1;
					grid-row-end: 2;
				}
				&_2 {
					grid-row-start: 2;
					grid-row-end: 3;
				}
				&_3 {
					grid-row-start: 3;
					grid-row-end: 4;
				}
				&_4 {
					grid-row-start: 4;
					grid-row-end: 5;
					a {
						span.link-text_yellow {
							top:20px;
							width: 100%;	
						}
					}
					
				}
				&_5 {
					grid-row-start: 5;
					grid-row-end: 6;
				}
			}
		}
	}
	.quality-food {
		display: none;
	}
	.services {
		background-color: #fff;
		padding-top: 40px;
		padding-bottom: 80px;
		&__subtitle {
			margin: 0 auto 27px auto;
		}
		&__items {
			flex-flow: row wrap;
			justify-content: center;
		}
		&__item {
			margin: 15px;
		}
	}
	.discover {
		min-height: 590px;
		padding-top: 75px;
		&__text {
			width: 100%;
		}
	}
	.tips {
		&__grid {
			transform: translateY(-50px);
			grid-template-columns: 1fr;
			&-item {
				height: auto;
				min-height: 155px;
				&_3, &_4 {
					.tips__grid-img {
						order: -1;
					}
				}
			}
			&-img {
				width: 200px;
			}
			&-text {
				width: calc(100% - 200px);
			}
		}
	}
	.decor {
		background: url(../img/tasty_cakes.jpg) center right/cover no-repeat;
		padding-top: 130px;
		.container {
			img {
				display: none;
			}
		}

		&__label {
			display: none;
		}
	}
	.progress {
		&__subtitle {
			margin-bottom: 15px;
		}
		&__items {
			flex-flow: row wrap;
			justify-content: center;
		}
		&__item {
			margin: 15px;
		}
	}
	.products-mid {
		&__grid {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 180px 180px 180px 180px;
		}
		&__link {
			background-color: rgba($color: #000000, $alpha: 0.6);

			span {
				display: block;
			}
		}
	}
	.blog-posts {
		&__wrapper {
			flex-flow: column nowrap;
		}
		&__item {
			width: 100%;
			height: 270px;
		}
	}
}
@media(max-width:580px) {
	.header {
		&__organic-food {
			width: 100%;
			height: auto;
		}
	}
	
}
@media(max-width: $mobile-width_l) {
	.header {
		&__nav {
			width: 280px;
		}
	}
	.products {
		&__grid {
			&-item {
				
				&_4 {
					grid-row-start: 4;
					grid-row-end: 5;
					a {
						span.link-text_yellow {
							top:20px;
							width: 100%;	
							font-size: 28px;
						}
					}
					
				}
				
			}
		}
	}
	.services {
		&__item {
			width: 100%;
		}
	}
	.discover {
		padding-top: 40px;

		&__title {
			font-size: 28px;
			line-height: 40px;
		}
	}
	.tips {
		&__grid {
			transform: translateY(-80px);
			grid-template-columns: 1fr;
			&-item {
				height: auto;
				min-height: 155px;
				&_3, &_4 {
					.tips__grid-img {
						order: -1;
					}
				}
			}
			&-title {
				font-size: 16px;
			}
			&-img {
				width: 100px;
			}
			&-text {
				width: calc(100% - 100px);
			}
		}
	}
	.decor {
		display: none;
	}
	.progress {
		min-height: 750px;
		margin-top: 150px;
	}
	.products-mid {
		&__grid {
			grid-template-columns: 1fr;
			grid-template-rows: 100px 100px 100px 100px 100px 100px  100px 100px;
		}
	}
	.blog-posts {
		&__item {
			height: 200px;
		}
		&__link {
			&-text {
				left: 15px;
			}
		}
	}
}
@media(max-width: $mobile-width_m) {
	.header {
		&__nav {
			width: 260px;

			&-links {
				margin-left: 118px;
			}
		}
	}
	.logo {
		width: 88px;
	}
	.discover {
		padding-top: 20px;

		&__title {
			font-size: 24px;
			line-height: 34px;
		}
	}
	.progress {
		margin-top: 190px;
	}
}