@media (max-width: $laptop-width_l) {
	.products {
		&__grid {
			width: 100%;
		}
	}

	.footer {
		&__info {
			&-item {
				&_5 {
					grid-column-start: 2; 
					grid-column-end: 5;
				}
				&_6 {
					grid-column-start: 1; 
					grid-column-end: 5; 

				}
			}
		}
		&__social {
			margin-top: 5px;
		}
	}
}
@media (max-width: $laptop-width_m) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
	.header {
		&__button {
			right: 30px;
		}
	}
	.tips {
		&__grid {
			&-item {
				height: 263px;
			}
			&-img {
				width: 180px;
			}
			&-text {
				width: calc(100% - 180px);
				padding: 20px;
				h3 {
					margin: 0;
				}
			}
		}
	}
	.reviews {
		&__text {
			width: 760px;
		}
	}
	.footer {
		&__map {
			width: 455px;
		}
	}
}

@media (max-width: $laptop-width_s){
	.header {
		height: 710px;
		&__nav-links {
			margin-left: 130px;
		}
	}
	.products {
		&__grid {
			grid-template-rows: 210px 270px;
			
		}

		a .link-text_yellow {
			font-size: 36px;
			padding-left: 15px;
		}
	}
	.quality-food {
		&__item {
			&_1 {
				width: 593px;
			}
			&_2 {
				left: 304px;
			}
		}
	}
	.services {
		margin-top: 100px;
		&__subtitle {
			margin: 0 auto 55px auto;
		}
		&__item {
			font-size: 16px;
		}
	}
	.discover {
		height: 650px;
		padding-top: 107px;
	}
	.tips {
		height: 485px;
	}
	.decor {
		height: 580px;
	}
	.progress {
		height: 450px;
		margin-top: 70px;
		&__item {
			padding-left: 85px;
			.bold {
				font-size: 36px;
			}
		}
	}
	.products-mid {
		&__grid {
			grid-template-rows: 280px 280px;
		}
	}

	.reviews {
		&__title {
			margin-top: 80px;
		}
		&__text {
			width: 760px;
		}
		&__slider {
			height: 600px;
			&-item {
				height: 600px;
			}
		}
	}
	.blog-posts {
		padding-top: 0;
		margin-top: -50px;

		&__item {
			height: 350px;
		}
	}
	.partners {
		padding-top: 0;
		margin-top: -65px;

		&__list {
			padding: 0;
			flex-flow: row wrap;
			justify-content: center;
		}

		&__item {
			margin: 0 15px;

			align-self: center;
		}
	}
	.footer {
		&__map {
			width: 415px;
		}
		&__info {
			display: flex;
			flex-flow: row wrap;
			min-width: 560px;
			&-item {
				&_1 {
					flex-basis: 100%;
					margin-bottom: 30px;
				}
				&_2, &_3 {
					margin-left: 30px;
					flex-basis: 105px;
				}
				&_4, &_5, &_6 {
					flex-basis: 100%;
				}
				&_6 {
					margin: 40px 0;
				}
			}
		}
	}
}
@media(max-width: $tablet-width) {
	.header {
		position: relative;
		&__hamburger {
			position: fixed;
			top: 10px;
			right: 10px;
			z-index: 999;
			width: 60px;
			height: 40px;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color: $color_yellow;

				box-shadow: 0 12px 0 $color_yellow,
                0 25px 0 $color_yellow,
                0 38px 0 $color_yellow;
			}

			&:hover {
				&::before {
					
					box-shadow: 0 11px 0 $color_yellow,
						 0 23px 0 $color_yellow,
						 0 35px 0 $color_yellow;
				}
			}
		
		}
		&__nav {
			display: none;

			height: 100%;
			width: 300px;
			background: none;
			background-color: rgba($color: #000000, $alpha: .7);
			border: none;
			

			&-close {
				position: absolute;
				top: 10px;
				right: -50px;
				width: 40px;
				height: 40px;
				cursor: pointer;
			
				&::before {
					content: "";
					display: block;
					height: 2px;
					width: 50px;
					background-color: #fff;
					position: absolute;
					top:18px;
					left: -5px;
					transform: rotate(45deg);
				}
				&::after {
					content: "";
					display: block;
					height: 2px;
					width: 50px;
					background-color: #fff;
					position: absolute;
					top:18px;
					left: -5px;
					transform: rotate(-45deg);
				}
			}

			&-link {
				a.active, a:hover {
					&::after {
						bottom: -20px;
					}
				}
			}
		}
		&__nav-links {
			flex-flow: column nowrap;
		}
		&__button {
			right: auto;
			top: 450px;
			left: 30px;
		}
	}
}