$color_yellow: #fcdb5a;


$desktop-width: 1540px;
$laptop-width_l: 1440px;
$laptop-width_m: 1222px;
$laptop-width_s: 1024px;
$tablet-width: 768px;
$mobile-width_l: 425px;
$mobile-width_m: 375px;
$mobile-width_s: 320px;
