@import "libs/normalize";
@import "libs/fonts";
@import "base/variables";
@import "base/mixins";
@import "libs/animate";
@import "libs/slick";
@import "libs/slick-theme";


@import "base/buttons";

* {
	box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px; 
	border: 0;
	padding: 0;

	white-space: nowrap; 

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	position: relative;
	
}
.bgcontainer {
	background: url(../img/bg_top.jpg) top (center/cover) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 1700px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.title {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 200;
	line-height: 55px;

		.bold {
			font-weight: 800;
		}
}
.subtitle {
	font-size: 18px;
	line-height: 24px;
	color: #b3b3b3;
	text-align: center;

	width: 530px;
}


@import "blocks/header";
@import "blocks/products";
@import "blocks/quality-food";
@import "blocks/services";
@import "blocks/discover";
@import "blocks/tips";
@import "blocks/decor";
@import "blocks/progress";
@import "blocks/products-mid";
@import "blocks/reviews";